.hero
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);

}
.hero-left
{     
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2
{
color: #090909;
font-size: 26px;
font-weight: 600;
}
.hero-left p
{
 color: #171717;
 font-size: 100px;
 font-weight:700 ;
}
.hand-icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
   gap: 20px;
}
.hand-icon img
{
    width: 105px;
}
.hero-latest-btn 
{
display: flex;
justify-content: center;
align-items: center;
gap:15px ;
width: 310px;
height:70px ;
border-radius: 75px;
margin-top: 30px;
background-color: #ff4141;
color: white;
font-size: 22px;
font-weight: 500;


}
.hero-right
{ 
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
@media(max-width:1280px)
{
    .hero-left{
        padding-left: 100px;

    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-hand-icon img {
      width: 80px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right img{
        height: 500px;
    }

}
@media(max-width:1024px) {
    .hero-left {
        padding-left: 80px;

    }

    .hero-left h2 {
        font-size: 20px;
    }

    .hero-left p {
        font-size: 50px;
    }

    .hero-hand-icon img {
        width: 65px;
    }

    .hero-latest-btn {
      
        width: 220px;
        height: 50px;
        font-size: 16px;
    }

    .hero-right img {
        height: 400px;
    }

}
@media(max-width:800px) {
    .hero-left {
        padding-left: 30px;

    }

    .hero-left h2 {
        font-size: 16px;
    }

    .hero-left p {
        font-size: 40px;
        margin-right: 10px;
    }

   

    .hero-latest-btn {
    
        width: 170px;
        height: 40px;
    
        font-size: 13px;
    }

    .hero-right img {
        height: 300px;
    }
         .hero {
             height: 70vh;
         }
         #hand{
         width: 80px;
         }

}
@media(max-width:500px) {
    .hero{
        flex-direction: column;
    }
  

    .hero-left h2 {
        font-size: 18px;
    }

    .hero-left p {
        font-size: 50px;
        margin-right: 50px;
    }
#hand{
 width: 80px;
}
   

    .hero-latest-btn {

        width: 200px;
        height: 45px;

        font-size: 14px;
    }

    .hero-right img {
        display: none;
    }
         

}
@media(max-width:400px) {
   

    .hero-left h2 {
        font-size: 15px;
    }

    .hero-left p {
        font-size: 35px;
        margin-right: 70px;
    }

         #hand {
             width: 70px;
         }
    .hero-latest-btn {

        width: 150px;
        height: 40px;

        font-size: 10px;
    }



}
@media(max-width:300px) {


    .hero-left h2 {
        font-size: 12px;
    }

    .hero-left p {
        font-size: 25px;
        margin-right: 50px;
    }

    #hand {
        width: 60px;
    }

    .hero-latest-btn {

        width: 120px;
        height: 20px;

        font-size: 8px;
    }
    .hero-latest-btn img{
        width: 10px;
    }
    .hero{
        height: 60vh;
    }



}
@media(max-width:250px)
{
    #hand {
            width: 40px;
        }
                .hero-left p {
                  
                    margin-right: 30px;
                    font-size: 20px;
                }
                                
}