.shop-category-banner
{
    display: block;
    margin: 30px auto;
    width: 82%;
}


.shop-category-index-sort
{
    display: flex;
   
    margin-left: 140px;

    justify-content: space-between;
    align-items: center;
    width: 78%;
    margin-bottom: 100px;
}
.shop-category-input  {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
 width: 70%;

}
.shop-category-input  input{
    padding: 10px 20px;
    margin-left: 20px;
    width: 70%;
    border: 1px solid #d8d8d8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    
}


.shop-category-input button {
    padding: 11px 20px;
    font-weight: 500;
    
    border:none ;
    border-top-right-radius:5px ;
    border-bottom-right-radius: 5px;
    background-color: #ff4141;
    color: white;

}


.shop-category-sort
{
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #ededed;
    border: 1px solid #f9f9f9;
}
.shop-category-products
{
   /*margin: 20px 170px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap:  80px;
    width: 80%;
    margin-left: 160px;
    
}

.shop-category-loadmore
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width: 1280px)
{
    .shop-category-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shop-category-index-sort{
        width: 90%;
        margin: auto;
    }
    .shop-category-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
   .shop-category-input input {
       padding: 8px 16px;
       margin-left: 20px;
       width: 70%;
    }

   .shop-category-input button {
       padding: 9px 18px;
     }
     .shop-category-index-sort select{
        padding: 8px 16px;
     }

     
.shop-category-loadmore
{
  
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
   
}
.shop-category-products{
    width: 90%;
    row-gap: 40px;
    margin:  10px auto;
}
.shop-category-products  .item{
   margin: auto;
}
}
@media(max-width: 800px)
{
    .shop-category-banner{
        width: 95%;
    }
    .shop-category-products{
        width: 95%;

    }
        .shop-category-input input {
            padding: 7px 14px;
            margin-left: 10px;
            width: 50%;
            font-size: 12px;
       
    
        }
                .shop-category-input button {
                    padding: 8px 10px;
                    font-size: 11px;
                }
   
}
@media(max-width: 550px) {
   

    .shop-category-products {
        grid-template-columns: 1fr 1fr;

    }
         .shop-category-input input {
             padding: 5px 10px;
             margin-left: 10px;
             width: 50%;
             font-size: 11px;
    }


 .shop-category-input button {
     padding: 6px 10px;
     font-size: 11px;
 }}
 @media(max-width: 400px) {


     .shop-category-products {
         grid-template-columns: 1fr 1fr;

     }

     .shop-category-input input {
         padding: 4px 8px;
         margin-left: 10px;
         font-size: 10px;
         width: 50%;
     }


     .shop-category-input button {
         padding: 5px 8px;
         font-size: 10px;
     }
     .shop-category-sort{
      padding: 0px;
        width: 35%;
        font-size: 10px;
     }
 }

